@import '../../semantic-ui/site/globals/site.variables';

.landing {
  width: 100%;
  position: relative;
  height: calc(100vh - 315px);

  &__header {
    text-align: center;
  }

  &__content {
    height: 100%;
    &__columns {
      display: flex;
      justify-content: center;
      height: 100%;
      overflow: hidden;
    }
  }

  &-frontpage-img {
    @media only screen and (min-width: @tabletBreakpoint) {
      margin-top: 1em;
    }
    
  }
}