@import '../../semantic-ui/site/globals/site.variables';

.landing {
  width: 100%;
  position: relative;
  
  &__header {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &-frontpage-img {
    @media only screen and (min-width: @tabletBreakpoint) {
      margin-top: 1em;
    }
    
  }
}