@import '../../semantic-ui/site/globals/site.variables';

.progress-bars {
  background: @secondaryColor;
  width: 100%;
  @media only screen and (min-width: @mediumMonitorBreakpoint) and (min-height: @smallMonitorHeightBreakpoint) {
    height: 7.222rem;
  }
  height: 5.222rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  
  &__bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 1.666rem 0 0;
    position: relative;

    &:first-child {
      margin-left: 1.666rem;
    }


    .ui.header {
      font-weight: normal;
      color: white;
      
      &:first-child {
        @media only screen and (max-height: @smallMonitorHeightBreakpoint) {
          margin-top: 0.2rem;
          margin-bottom: 0.4rem;
        }
      }
    }

    .ui.progress {

      > .label {
        margin-top: 0;
        top: 0;
        height: 100%;

        button {
          position: absolute;
          top: -110%;
          transform: translate(-50%, -50%);
          right: 0;
          left: 100%;
          margin-bottom: 1rem;
        }
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    } 

    &__limit {
      position: absolute;
      border-right: 2px dashed @darkGray;
      height: 100%;
      bottom: 0;
    }
  }
}