@import '../../semantic-ui/site/globals/site.variables';

.progress-bars {
  padding-bottom: 5em;
  background: @secondaryColor;
  width: 100%;
  
  .ui.progress {
    > .label {
      font-weight: normal;
      color: white;
      font-size: 1.3333rem;
    }
  }
}