@import '../../semantic-ui/site/globals/site.variables';

.p-chain-step {

  margin-top: 3rem;

  .ui.header {
    color: @green;
    margin-bottom: 0;

    &.medium {
      margin: 0 0 0;
      font-size: 1.5rem;
    }
  }

  &__6 {
    
    .p-chain-column {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__columns {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 0;

    &__image {
      margin: 0.5rem 0;
      width: 45%;
      padding: 0 2rem;

      img {
        width: 100%;
      }
    }
  }

}