@import '../../semantic-ui/site/globals/site.variables';

.p-chain-step {

  .ui.header {
    color: @green;
    margin-bottom: 0;
  }

  &__columns {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding-top: 1rem;
  }

}