@import '../../semantic-ui/site/globals/site.variables';

.p-chain-column {
  &.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ui.card {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0.611rem;
      }
    }
  }
}